<h1>Show Pokemon</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @pokemon.name %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @pokemon.type %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.pokemon_path(@conn, :edit, @pokemon) %></span>
<span><%= link "Back", to: Routes.pokemon_path(@conn, :index) %></span>
